.dashboardWrapper {
  display: flex;
  height: 100vh;
  background: #f5f7fb;
  font-family: Inter, sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: midnightblue;
  color: white;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  text-align: left;
  transition: 0.2s;
}

.sidebar nav button:hover {
  background: rgba(255,255,255,0.15);
}

.logoutBtn {
  background: #dc2626;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

/* MAIN */
.dashboardMain {
  flex: 1;
  padding: 35px;
  overflow-y: auto;
}

/* TITLES */
.pageTitle {
  font-size: 30px;
  font-weight: bold;
}

.pageSubtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

.sectionTitle {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

/* MÉTRICAS */
.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.statCard {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  border-left: 6px solid midnightblue;
  transition: 0.2s;
}

.statCard:hover {
  transform: translateY(-3px);
}

.statCard h3 {
  font-size: 13px;
  color: #6b7280;
}

.statCard span {
  font-size: 24px;
  font-weight: bold;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.table th {
  background: midnightblue;
  color: white;
  padding: 14px;
  text-align: left;
}

.table td {
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
}

.statusConfirmado {
  color: #16a34a;
  font-weight: bold;
}

.statusPendente {
  color: #facc15;
  font-weight: bold;
}