/* CALENDAR */
.calendarTitle {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 15px;
}

.calendarDay {
  background: #020617;
  border: 1px solid #1f2937;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.calendarDay:hover {
  background: #1e293b;
}

/* DIA COM CONSULTA */
.hasConsulta {
  background: #2563eb;
  color: white;
}

/* DETALHES DO DIA */
.dayDetails {
  margin-top: 20px;
  background: #020617;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #1f2937;
}

.consultaCard {
  background: #111827;
  padding: 10px;
  border-radius: 10px;
  margin-top: 8px;
}